.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

.projects__grid .project img {
  width: 100%;
  border: 1px solid #555;
}

.syncosaurus .title {
  display: flex;
  justify-content: center;
}

.projects__syncosaurus {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr min-content min-content 1fr;
  grid-template-areas:
    'logo description'
    'logo features_title'
    'logo features'
    'logo case_study';
}

.projects__syncosaurus .logo {
  padding-right: 1rem;
  grid-area: logo;
  max-width: 100%;
  height: auto;
}

.projects__syncosaurus .description {
  margin-top: 1rem;
  grid-area: description;
}

.projects__syncosaurus .features_title {
  margin-top: 1rem;
  grid-area: features_title;
}

.projects__syncosaurus .features {
  grid-area: features;
}

.projects__syncosaurus .case_study {
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .projects__syncosaurus {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
      'logo'
      'description'
      'features_title'
      'features'
      'case_study';
  }

  .projects__syncosaurus .logo {
    justify-self: center;
    max-width: 75%;
  }
}
