.skills__types {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'backend frontend cloud other'
    'backend_list frontend_list cloud_list other_list';
}

.skills__types .title {
  justify-self: center;
}

.skills__types .backend {
  grid-area: backend;
}

.skills__types .frontend {
  grid-area: frontend;
}

.skills__types .cloud {
  grid-area: cloud;
}

.skills__types .other {
  grid-area: other;
}

.skills__types .backend_list {
  grid-area: backend_list;
}

.skills__types .frontend_list {
  grid-area: frontend_list;
}

.skills__types .cloud_list {
  grid-area: cloud_list;
}

.skills__types .other_list {
  grid-area: other_list;
}

.skills__list-item {
  margin: 0.5em;
}

@media screen and (max-width: 800px) {
  .skills__types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
      'backend frontend'
      'backend_list frontend_list'
      'cloud other'
      'cloud_list other_list';
  }
}
