.about-container {
  margin: 5rem 6rem;
}

.about-container h2,
.about-container h3 {
  text-align: center;
}

.about-container h2 {
  margin-bottom: 2rem;
}

.about-container h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about-container p {
  margin: 2rem 0;
}
