.about {
  flex-direction: column;
  margin-top: 3rem;
}

.about.center {
  margin: 3rem 0 3rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    'intro picture'
    'title picture'
    'description picture'
    'contact picture';
}

.about__contact.center {
  display: flex;
  align-items: center;
}

.about.center h1 {
  grid-area: intro;
}

.about__role {
  grid-area: title;
}

.about__desc {
  grid-area: description;
}

.about__contact {
  grid-area: contact;
}

.about__headshot {
  grid-area: picture;
  align-self: start;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.about.center h2 {
  grid-area: title;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.about__desc a {
  text-decoration: underline;
  color: #2978b5;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
