.name {
  font-family: "Manrope", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  color: var(--light-grey);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--dark-blue);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-links {
  padding: 0rem 1rem;
  color: var(--light-grey);
  font-weight: 300;
  font-size: 1.25rem;
}
