.name {
  font-family: "Manrope", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  color: var(--light-grey);
  text-wrap: nowrap;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--dark-blue);
  max-width: 1920px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-links {
  padding: 0rem 1rem;
  color: var(--light-grey);
  font-weight: 300;
  font-size: 1.25rem;
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1064px) {
  .header {
    padding: 1rem 1rem;
    display: grid;
    grid-template-areas:
      "name hamburger"
      "links links";
  }

  .name {
    grid-area: name;
  }

  .header a {
    align-self: flex-start;
    justify-self: center;
  }

  .header nav {
    grid-area: links;
  }

  .navigation {
    display: none;
    flex-direction: column;
    background-color: var(--dark-blue);
  }

  .navigation.active {
    display: flex;
    text-align: center;
  }

  .navigation-links {
    color: var(--white);
    background-color: var(--light-blue);
    border-radius: 100px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    width: 100%;
  }

  .hamburger {
    font-size: 3rem;
    grid-area: hamburger;
    display: block;
    cursor: pointer;
    margin-left: auto;
  }
}
